#content-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  padding: 56px 32px 56px 32px;
  align-items: center;
}
#featured-recipe {
  display: flex;
  flex-direction: column;
  width: 900px;
  box-shadow: 0px 1px 3px 0px rgba(39, 55, 70, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
#featured-top-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: flex-end;
}
#featured-recipe-label {
  font-size: 30px;
  font-weight: 500;
}
#featured-bottom-container {
  padding: 40px;
  border-top: 1px solid rgb(229, 231, 235);
  color: rgb(107, 114, 128);
  font-size: 16px;
  line-height: 20px;
}
#title {
  font-size: 30px;
  font-weight: 600;
}
#featured-label {
  color: rgb(169 121 43);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.recipe-label {
  font-weight: 600;
}
.view-button {
  color: rgb(55 65 81);
  border: 1px solid rgb(200, 205, 216);
  background-color: rgb(255, 255, 255);
  padding: 15px 60px 15px 60px;
  border-radius: 7px;
  font-size: 14px;
}
.view-button:hover {
  cursor: pointer;
}

#other-recipe-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.recipes {
  width: 430px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(39, 55, 70, 0.2);
  display: flex;
  flex-direction: column;
}

.recipe-top-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 32px 32px 0px 32px;
}
.recipe-bottom-container {
  padding: 32px;
}
.breakfast-recipe {
  color: rgb(169 121 43);
  font-size: 16px;
}
.cooking-steps {
  color: rgb(107, 114, 128);
  font-size: 16px;
}

.recipe-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.recipe-description {
  font-size: 16px;
  color: rgb(107, 114, 128);
}